PORT=8000
FRONTEND_URL= "http://localhost:5173"
BACKEND_URL= "http://localhost:8000"
MONGO_URI= "your_database_uri"
JWT_SECRET= 
SMTP_SERVICE= "gmail"

FRAUD_PREDICTOR_API_URL= "http://localhost:5000"

EMAIL_USER="your-email"
EMAIL_PASS="your-app-password"
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587

ESEWA_SECRET_KEY= "esewa_secret_key"

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
