PORT= 8000
FRONTEND_URL= "http://localhost:5173"
BACKEND_URL= "http://localhost:8000"
MONGO_URI="mongodb+srv://smirtineupane197:jobportal123@cluster1.snswh7l.mongodb.net/kaamsetu?retryWrites=true&w=majority"
JWT_SECRET= 
SMTP_SERVICE= "gmail"

FRAUD_PREDICTOR_API_URL= "http://localhost:5000"

EMAIL_USER="your-email"
EMAIL_PASS="your-app-password"
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587

ESEWA_SECRET_KEY= "8gBm/:&EnhH.1/q"